<html>

<h3> Made by {{name}}</h3>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <br>
    <h4>File Uploaded Status : {{status}} </h4>
    <br>
    <label >Select a file:</label> <br><br>        
    <input type="file" id="myfile" name="myfile"><br><br>
    <input type="submit" value="Submit" onclick="showFileName()">
    
</form>
<br>
<br>

<a href="/table1" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true"><button>Table 1</button></a>
<a href="/table2" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true"><button>Table 2</button></a>
<a href="/table3" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true"><button>Table 3</button></a>
</html>
